<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E_BLIEVE</title>
    <link rel="stylesheet" href="stylesheets/1.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section>
      <nav>
        <div class="logo">
          <img src="/image/logo.png" />
        </div>

        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href=".arrivals">About</a></li>
          <li><a href="#Books">Books</a></li>
          <li><a href="#Arrivals">Recommendation</a></li>
          <li><a href="#review">Reviews</a></li>
          <li><a href="#Developers">Developers</a></li>
        </ul>

        <div class="social_icon">
          <i class="fa-solid fa-magnifying-glass"></i>
          <i class="fa-solid fa-heart"></i>
        </div>
      </nav>

      <section id="home">
        <div class="main">
          <div class="main_tag">
            <h1>WELCOME TO<br /><span>E-BLIEVE</span></h1>
            <p>
              Delhi Public School Budgam's IT and Book Clubs synergized to craft
              an innovative e-library website. This collaborative journey
              blended technological prowess with literary passion. The result? A
              digital haven where knowledge and imagination intertwine
              seamlessly. Users can now explore a vast collection of books,
              fostering a culture of reading in the digital age. This dynamic
              partnership showcases the power of teamwork in enriching
              educational landscapes.
            </p>
            <a href="#" class="main_btn">Learn More</a>
          </div>
          <div class="main_img">
            <img src=" /image/table.png" />
          </div>
        </div>
      </section>
    </section>

    <!--Services-->

    <section id="Developers">
      <div class="services">
        <div class="services_box">
          <div class="services_card">
            <i class="fa fa-code"></i>
            <h3>Alyeen Wani</h3>
            <p>
              I'm a 9th grader with a lifelong fascination for computers. My
              passion led me to create and design an E-library website. From a
              young age, I've embraced technology, and now I've turned that
              interest into a functional and innovative platform
            </p>
          </div>
          <div class="services_card">
            <i class="fa fa-code"></i>
            <h3>Wilayat Ali Kawoosa</h3>
            <p>
              Head of IT at DPS Budgam, appointed in 2022. 
              A visionary leader, he has organized and led five highly successful 
              workshops for students from grades 6 to 12, bridging the gap between 
              education and technology.
            </p>
          </div>
          <div class="services_card">
            <i class="fa fa-code"></i>
            <h3>Sameen Kirmani</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis
              optio eveniet, voluptatum aut non quos expedita cumque odio, unde
              reprehenderit molestiae tempore laborum, eligendi reiciendis.
              Aspernatur, earum! A, eum aperiam.
            </p>
          </div>
          <div class="services_card">
            <i class="fa fa-code"></i>
            <h3>Rubaan</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis
              optio eveniet, voluptatum aut non quos expedita cumque odio, unde
              reprehenderit molestiae tempore laborum, eligendi reiciendis.
              Aspernatur, earum! A, eum aperiam.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Loader -->

    <div id="loader-container"></div>
    <!-- Loader -->
    <!--About-->

    <div class="about">
      <div class="about_image">
        <img src=" /image/about.png" />
      </div>
      <div class="about_tag">
        <h1>About Us</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae
          cumque atque dolor corporis architecto. Voluptate expedita molestias
          maxime officia natus consectetur dolor quisquam illo? Quis illum
          nostrum perspiciatis laboriosam perferendis? Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Minus ad eius saepe architecto
          aperiam laboriosam voluptas nobis voluptates id amet eos repellat
          corrupti harum consectetur, dolorum dolore blanditiis quam quo.
        </p>
        <a href="#" class="about_btn">Learn More</a>
      </div>
    </div>

    <!--Books-->

    <section id="Books">
      <div class="featured_boks">
        <h1>Books By Our Authors</h1>
        <div class="featured_book_box">
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src=" /image/book_1.jpg" />
            </div>
            <div class="featurde_book_tag">
              <h2>The Shadow of Hope</h2>
              <p class="writer">Mustafa</p>
              <div class="categories">Poetry</div>
              <a href="/shadow_of_hope" class="f_btn">Read</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src=" /image/book_2.jpg" />
            </div>
            <div class="featurde_book_tag">
              <h2>Featured Books</h2>
              <p class="writer">Alyeen Wani</p>
              <div class="categories">Thriller, Horror, Romance</div>
              <a href="#" class="f_btn">Learn More</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src=" /image/book_3.jpg" />
            </div>
            <div class="featurde_book_tag">
              <h2>Featured Books</h2>
              <p class="writer">Alyeen Wani</p>
              <div class="categories">Thriller, Horror, Romance</div>
              <a href="#" class="f_btn">Learn More</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src=" /image/book_4.jpg" />
            </div>
            <div class="featurde_book_tag">
              <h2>Featured Books</h2>
              <p class="writer">Alyeen Wani</p>
              <div class="categories">Thriller, Horror, Romance</div>
              <a href="#" class="f_btn">Learn More</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src=" /image/book_5.jpg" />
            </div>
            <div class="featurde_book_tag">
              <h2>Featured Books</h2>
              <p class="writer">Alyeen Wani</p>
              <div class="categories">Thriller, Horror, Romance</div>
              <a href="#" class="f_btn">Learn More</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src=" /image/book_6.jpg" />
            </div>
            <div class="featurde_book_tag">
              <h2>Featured Books</h2>
              <p class="writer">Alyeen Wani</p>
              <div class="categories">Thriller, Horror, Romance</div>
              <a href="#" class="f_btn">Learn More</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src="/image/book_7.png" />
            </div>
            <div class="featurde_book_tag">
              <h2>Featured Books</h2>
              <p class="writer">Alyeen Wani</p>
              <div class="categories">Thriller, Horror, Romance</div>
              <a href="#" class="f_btn">Learn More</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src="/image/book_8.png" />
            </div>
            <div class="featurde_book_tag">
              <h2>Featured Books</h2>
              <p class="writer">Alyeen Wani</p>
              <div class="categories">Thriller, Horror, Romance</div>
              <a href="#" class="f_btn">Learn More</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src="/image/book_9.jpg" />
            </div>
            <div class="featurde_book_tag">
              <h2>Featured Books</h2>
              <p class="writer">Alyeen Wani</p>
              <div class="categories">Thriller, Horror, Romance</div>
              <a href="#" class="f_btn">Learn More</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src="/image/book_10.png" />
            </div>
            <div class="featurde_book_tag">
              <h2>Featured Books</h2>
              <p class="writer">Alyeen Wani</p>
              <div class="categories">Thriller, Horror, Romance</div>
              <a href="#" class="f_btn">Learn More</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src="/image/book_11.jpg" />
            </div>
            <div class="featurde_book_tag">
              <h2>Featured Books</h2>
              <p class="writer">Alyeen Wani</p>
              <div class="categories">Thriller, Horror, Romance</div>
              <a href="#" class="f_btn">Learn More</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src="/image/book_12.png" />
            </div>
            <div class="featurde_book_tag">
              <h2>Featured Books</h2>
              <p class="writer">Alyeen Wani</p>
              <div class="categories">Thriller, Horror, Romance</div>
              <a href="#" class="f_btn">Learn More</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src="/image/book_13.png" />
            </div>
            <div class="featurde_book_tag">
              <h2>Featured Books</h2>
              <p class="writer">Alyeen Wani</p>
              <div class="categories">Thriller, Horror, Romance</div>
              <a href="#" class="f_btn">Learn More</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src="/image/book_14.png" />
            </div>
            <div class="featurde_book_tag">
              <h2>Featured Books</h2>
              <p class="writer">Alyeen Wani</p>
              <div class="categories">Thriller, Horror, Romance</div>
              <a href="#" class="f_btn">Learn More</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_img">
              <img src="/image/book_15.png" />
            </div>
            <div class="featurde_book_tag">
              <h2>Featured Books</h2>
              <p class="writer">Alyeen Wani</p>
              <div class="categories">Thriller, Horror, Romance</div>
              <a href="#" class="f_btn">Learn More</a>
            </div>
          </div>
          <div class="featured_book_card">
            <div class="featurde_book_tag">
              <h2>More Books</h2>
              <br />
              <br />
              <br />
              <br />
              <br /><br />
              <br />
              <br />
              <br />
              <br />
              <br /><br />
              <a href="/search" class="f_btn">Search</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Recommendation-->

    <div class="arrivals">
      <h1>Recommendation</h1>

      <div class="arrivals_box">
        <div class="arrivals_card">
          <div class="arrivals_image">
            <img src="/image/arrival_1.jpg" />
          </div>
          <div class="arrivals_tag">
            <p>New Arrivals</p>
            <div class="arrivals_icon"></div>
            <a href="#" class="arrivals_btn">Open Now</a>
          </div>
        </div>

        <div class="arrivals_card">
          <div class="arrivals_image">
            <img src="/image/arrival_2.jpg" />
          </div>
          <div class="arrivals_tag">
            <p>New Arrivals</p>
            <div class="arrivals_icon"></div>
            <a href="#" class="arrivals_btn">Open Now</a>
          </div>
        </div>

        <div class="arrivals_card">
          <div class="arrivals_image">
            <img src="/image/arrival_3.jpg" />
          </div>
          <div class="arrivals_tag">
            <p>New Arrivals</p>
            <div class="arrivals_icon"></div>
            <a href="#" class="arrivals_btn">Open Now</a>
          </div>
        </div>

        <div class="arrivals_card">
          <div class="arrivals_image">
            <img src="/image/arrival_4.jpg" />
          </div>
          <div class="arrivals_tag">
            <p>New Arrivals</p>
            <div class="arrivals_icon"></div>
            <a href="#" class="arrivals_btn">Open Now</a>
          </div>
        </div>

        <div class="arrivals_card">
          <div class="arrivals_image">
            <img src="/image/arrival_5.jpg" />
          </div>
          <div class="arrivals_tag">
            <p>New Arrivals</p>
            <div class="arrivals_icon"></div>
            <a href="#" class="arrivals_btn">Open Now</a>
          </div>
        </div>

        <div class="arrivals_card">
          <div class="arrivals_image">
            <img src="/image/arrival_6.jpg" />
          </div>
          <div class="arrivals_tag">
            <p>New Arrivals</p>
            <div class="arrivals_icon"></div>
            <a href="#" class="arrivals_btn">Open Now</a>
          </div>
        </div>

        <div class="arrivals_card">
          <div class="arrivals_image">
            <img src="/image/arrival_7.jpg" />
          </div>
          <div class="arrivals_tag">
            <p>New Arrivals</p>
            <div class="arrivals_icon"></div>
            <a href="#" class="arrivals_btn">Open Now</a>
          </div>
        </div>

        <div class="arrivals_card">
          <div class="arrivals_image">
            <img src="/image/arrival_8.webp" />
          </div>
          <div class="arrivals_tag">
            <p>New Arrivals</p>
            <div class="arrivals_icon"></div>
            <a href="#" class="arrivals_btn">Open Now</a>
          </div>
        </div>

        <div class="arrivals_card">
          <div class="arrivals_image">
            <img src="/image/arrival_9.jpg" />
          </div>
          <div class="arrivals_tag">
            <p>New Arrivals</p>
            <div class="arrivals_icon"></div>
            <a href="#" class="arrivals_btn">Open Now</a>
          </div>
        </div>

        <div class="arrivals_card">
          <div class="arrivals_image">
            <img src="/image/arrival_10.jpg" />
          </div>
          <div class="arrivals_tag">
            <p>New Arrial</p>
            <div class="arrivals_icon"></div>
            <a href="#" class="arrivals_btn">Open Now</a>
          </div>
        </div>
      </div>
    </div>

    <!--reviews-->

    <section id="review">
      <div class="reviews">
        <h1>Reviews</h1>
        <div class="review_box">
          <div class="review_card">
            <i class="fa-solid fa-quote-right"></i>
            <div class="card_top">
              <img src="/image/hlo.jfif" />
            </div>
            <div class="card">
              <h2>Alyeen Wani</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus
                eos doloribus iure distinctio! Eos dolorem quam, nisi amet saepe
                totam, quas quidem laboriosam dolore, tenetur itaque nostrum
                voluptas excepturi aut.
              </p>
              <div class="review_icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
              </div>
            </div>
          </div>
          <div class="review_card">
            <i class="fa-solid fa-quote-right"></i>
            <div class="card_top">
              <img src="/image/hlo.jfif" />
            </div>
            <div class="card">
              <h2>Alyeen Wani</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus
                eos doloribus iure distinctio! Eos dolorem quam, nisi amet saepe
                totam, quas quidem laboriosam dolore, tenetur itaque nostrum
                voluptas excepturi aut.
              </p>
              <div class="review_icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
              </div>
            </div>
          </div>
          <div class="review_card">
            <i class="fa-solid fa-quote-right"></i>
            <div class="card_top">
              <img src="/image/hlo.jfif" />
            </div>
            <div class="card">
              <h2>Alyeen Wani</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus
                eos doloribus iure distinctio! Eos dolorem quam, nisi amet saepe
                totam, quas quidem laboriosam dolore, tenetur itaque nostrum
                voluptas excepturi aut.
              </p>
              <div class="review_icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
              </div>
            </div>
          </div>
          <div class="review_card">
            <i class="fa-solid fa-quote-right"></i>
            <div class="card_top">
              <img src="/image/hlo.jfif" />
            </div>
            <div class="card">
              <h2>Alyeen Wani</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus
                eos doloribus iure distinctio! Eos dolorem quam, nisi amet saepe
                totam, quas quidem laboriosam dolore, tenetur itaque nostrum
                voluptas excepturi aut.
              </p>
              <div class="review_icon">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Banner-->

    <div class="banner">
      <a href="#" class="banner_btn">Learn More</a>
    </div>

    <!--Blog-->

    <!--Footer-->

    <footer>
      <div class="footer_main">
        <div class="tag">
          <img src="image/logo.png" />
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est
            quaerat ipsa aspernatur ad sequi, dolore eveniet vitae quasi.
            Excepturi ipsa odio impedit sequi at hic velit, minus vero sint.
            Voluptas?
          </p>
        </div>

        <div class="tag">
          <h1>IT CLUB MEMBERS</h1>
          <a href="#"></a>
          <a href="#">Alyen Wani (designer and Coder)</a>
          <a href="#">Sameen Kirman (designer and JavaScripter)</a>
          <a href="#">Wilayat (Database Manager)</a>
          <a href="#">Rubann (atabase Manager)</a>
        </div>

        <div class="tag">
          <h1>Contact Info</h1>
          <a href="#"><i class="fa-solid fa-phone"></i>+94 12 345 6789</a>
          <a href="#"><i class="fa-solid fa-phone"></i>+94 32 444 699</a>
          <a href="#"
            ><i class="fa-solid fa-envelope"></i>bookstore123@gmail.com</a
          >
        </div>

        <div class="tag">
          <h1>Follow Us</h1>
          <div class="social_link">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
          </div>
        </div>

        <div class="tag">
          <h1>Newsletter</h1>
          <div class="search_bar">
            <input type="text" placeholder="You email id here" />
            <button type="submit">Subscribe</button>
          </div>
        </div>
      </div>

      <p class="end">
        Design By<span
          ><i class="fa-solid fa-face-grin"></i>Khawaja Alyeen Wani</span
        >
      </p>
    </footer>
    <script src="js/script.js"></script>
   </body>
</html>
