<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
    <link rel="stylesheet" href="/stylesheets/search-bar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="container">
      <form style="width: 100%">
        <i class="fas fa-search"></i>
        <input
          type="text"
          id="search-item"
          placeholder="Search Books"
          onkeyup="search()"
        />
      </form>
      <div class="book-list" id="book-list">
        <div class="book">
          <img src="/image/book_1.jpg" alt="" />
          <div class="p-details">
            <a href="/shadow_of_hope">The Shadow of Hope - Mustafa</a>
            <h3>Poem</h3>
          </div>
        </div>
        <div class="book">
          <img src="image/arrival_2.jpg" alt="" />
          <div class="p-details">
            <a href="#path">Harry Potter - Jk Rowling</a>
            <h3>Poem</h3>
          </div>
        </div>
        <div class="book">
          <img src="image/arrival_3.jpg" alt="" />
          <div class="p-details">
            <a href="#path">Hintai - Wilayat</a>
            <h3>Poem</h3>
          </div>
        </div>
        <div class="book">
          <img src="image/arrival_4.jpg" alt="" />
          <div class="p-details">
            <a href="#path">OverFlow - Alyeen</a>
            <h3>Poem</h3>
          </div>
        </div>
        <div class="book">
          <img src="image/arrival_5.jpg" alt="" />
          <div class="p-details">
            <a href="#path">How to become Rich - Ander Tatta</a>
            <h3>Poem</h3>
          </div>
        </div>
        <div class="book">
          <img src="image/arrival_6.jpg" alt="" />
          <div class="p-details">
            <a href="#path">Html And Css - Alyeen</a>
            <h3>Poem</h3>
          </div>
        </div>
        <div class="book">
          <img src="image/arrival_7.jpg" alt="" />
          <div class="p-details">
            <a href="#path"
              >Nothing Special About me but still a magician - Sameen</a
            >
            <h3>Poem</h3>
          </div>
        </div>
        <div class="book">
          <img src="image/arrival_8.webp" alt="" />
          <div class="p-details">
            <a href="#path"
              >How to a Head Boy And capture the whole world - Alyeen</a
            >
            <h3>Poem</h3>
          </div>
        </div>
        <div class="book">
          <img src="image/arrival_9.jpg" alt="" />
          <div class="p-details">
            <a href="#path">I am a Ugly Bitch - Wilayat </a>
            <h3>Poem</h3>
          </div>
        </div>
        <div class="book">
          <img src="image/arrival_10.jpg" alt="" />
          <div class="p-details">
            <a href="#path">I love Boys - Rubban</a>
            <h3>Poem</h3>
          </div>
        </div>
      </div>
    </section>
    <script src="/js/app.js"></script>
  </body>
</html>
