* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
    width: 100%;
    height: 100vh;
    background: rgb(240, 239, 243);
  
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 920px;
    height: 620px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.6);
    padding: 20px;
    overflow-y: scroll;
  }
  .container::-webkit-scrollbar {
    display: none;
  }
  .container form {
    width: 100%;
    border: 1px solid rgb(82, 74, 235);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container form input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
  }
  .container form i {
    padding-left: 10px;
  }
  .book-list {
    padding: 20px 0px;
  }
  .book {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
  }
  .book img {
    width: 70px;
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
  }
  .book .p-details {
    padding-left: 15px;
  }
  
  .book .p-details a {
    font-size: 20px;
    color: #1d1d1d;
    text-decoration: none;
    font-weight: bold;
  }
  .book .p-details h3 {
    font-size: 16px;
    color: #1d1d1d;
    font-weight: 200;
  }
  
  /* Updated CSS for the navbar */
  .navbar {
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000; /* Ensures it's above other content */
    border-bottom: 1px solid #ccc; /* Optional border for separation */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }
  
  .logo a {
    text-decoration: none;
    color: #1d1d1d;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px; /* Add some space from the left edge */
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0; /* Remove margin from the last link */
  }
  
  .nav-links a {
    text-decoration: none;
    color: #1d1d1d;
    font-size: 18px;
    font-weight: bold;
  }
  